<h1>My To Do List</h1>

<hr>
<app-create-list-item (createEvent)="addItem($event)"></app-create-list-item>
<hr>

<div>
    <button (click)="sortItemsByDateAscending(items)">Sort by Date (Ascending)</button>
    <button (click)="sortItemsByDateDescending(items)">Sort by Date (Descending)</button>
</div>
<hr>

<div>
    <button (click)="sortItemsByPriority(items)">Sort by Priority</button>
</div>
<hr>

<ul>
    <app-list-item *ngFor="let i of items" [item]="i" (removeItemEvent)="removeItem($event)"></app-list-item>
</ul>